.LogoandNav{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border-bottom: 2px dashed @navigation-border;
    margin-bottom: 0%;

    @media @mobile{
        flex-direction: column;
    }
    
    h1{
        margin-left: 5%
    }
    nav{
        margin-right: 5%;
      
        }
    

    nav a{
        text-decoration: none;
        color: @font-color;
        font-size: 16px;
        padding: 8px;
        
        @media @mobile{
            padding: 33px;

        }

    }
}

